.izquierda1>img {
    margin-left: 9%;
    margin-top: 0.5%;
    height: 120px;
    width: 200px;
}

.navegacion {
    float: right;
    margin-top: 2%;
    margin-right: 45%;

}

.nav-item>a {
    color: black;
    font-size: 20px;
    margin: 5px;
    font-family: Rubik Mono One;
}